.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Merriweather', serif;
}

h2 {
  font-family: 'Merriweather', serif;
}

.appFondo {
  background-color: #7eb6ad
}

.colorTituloH1 {
  color: #0B2954;
  font-size: calc(1rem + 1vw)
}
.colorTituloH2 {
  color: #0B2954;
}

.fondoEstrella {
  background-image: url(imagenes/estrella.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 720px) {
  .barraResponsive,.imagenBandera,p,.formularioResponsive,h1,h2,h3,h4{
      width: 100%;
  }
}